<footer>
    <div class="f-info sticky-bottom" >
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-reddit"></i>
        </div>
        <div class="f-info-brand"><i class="fa-regular fa-copyright"></i>Cosy Nest</div>
        <div class="f-info-links">
            <a class="priv">Privacy</a>
            <a class="term">Terms</a>
        </div>
    </div>
</footer>